.app-wrapper {
  display: grid;
  grid-template-areas: 
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

  width: 1900px;
  margin: 0 auto;
}

.header {
  grid-area: h;
  padding: 0 10px;
  background-color: #3d3d3d;
}

.nav {
  grid-area: n;
  background-color: #3d3d3d;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  text-decoration: none;
  color: aliceblue !important;
}

.profile {
  grid-area: c;
  background-color: #3782E0; 
}

.profile img {
  width: 100%;
}